<div class="aboutUs">
    <div class="container">
      <p>
        Angular Application From Scratch - Angular Project Blog App For Your
        Portfolio Learn how to build a professional Angular project for your
        portfolio! In this tutorial series, we will be creating an Angular blog
        application from scratch. You will learn how to set up the development
        environment, create components, work with forms and services, and deploy
        the final application. This tutorial is perfect for Angular developers of
        all levels looking to improve their skills and add a polished project to
        their portfolio.
      </p>
    </div>
  </div>
  