<div class="bigContainer">
  <div class="container">
    <div>
      <div class="imgConatiner">
        <img
          src="https://img.etimg.com/thumb/width-1200,height-900,imgsize-557494,resizemode-1,msid-70927093/news/science/bringing-together-scientific-research-and-commercial-activity-under-one-roof.jpg"
          alt=""
        />
      </div>
      <div>
        <a style="color: orange" href="">INSPIRING</a>
        <a style="color: green" href="">FEATURED</a>
        <a style="color: rgb(60, 130, 158)" href="">123,793 &#2022; views</a>
      </div>
      <div class="bigContainer2">
        <div class="textContainer">
          <h2 style="font-size: 25px">
            How to start blog in ssssssssssssssssssssssssssssssssss
            ssssssssssssssssssssss
          </h2>
          <p>
            Use our powerful mobile-first flexbox grid to build layouts of all
            shapes and sizes thanks to a twelve column system, five default
            responsive tiers, Sass variables and mixins, and dozens of
            predefined classes. Bootstrap’s grid system uses a series of
            containers, rows, and columns to layout and align content. It’s
            built with flexbox and is fully responsive. Below is an example and
            an in-depth look at how the grid comes together. New to or
            unfamiliar with flexbox? Read this CSS Tricks flexbox guide for
            background, terminology, guidelines, and code snippets.
          </p>
          <comment-form></comment-form>
        </div>
      </div>
    </div>
  </div>
  <div class="sideBar">
    <post-card></post-card>
    <post-card></post-card>
    <post-card></post-card>
  </div>
</div>
