<div class="container">
  <div class="imgConatiner">
    <img
      src="https://img.etimg.com/thumb/width-1200,height-900,imgsize-557494,resizemode-1,msid-70927093/news/science/bringing-together-scientific-research-and-commercial-activity-under-one-roof.jpg"
      alt=""
    />
  </div>
  <div class="container2">
    <a style="color: orange" href="">INSPIRING</a>
    <a style="color: green" href="">FEATURED</a>
    <a style="color: rgb(60, 130, 158)" href="">123,793 &#2022; views</a>
  </div>
  <div class="title">
    <p>
      some random bulshit which will go here as a titel of post blablablablabla
    </p>
  </div>
  <div class="description">
    <p>
      askjdhalksdjfnaskudfhlaksndmvlaiudskjfnalsdmnvlaiusdfnasldjknasidufjadsnflasiudfjnasdlfuh
    </p>
  </div>
  <div class="updateDate">
    <p>Last Updated: some date</p>
  </div>
</div>
